---
layout: default
title: Home
meta: "Convering everything dinosaur-related: links, video, photos, info."
showbanner: yes
bannertext: Dinosaurs Rock!
---

<h1>Dinos 'R' US</h1>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean comm</p>

<div class="grid">
            
    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="promo 1" desc="Super-Duper sale" image="air-dinos/pteranodon.jpg"%}                                            
    </div>
    
    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="promo 2" desc="Wow a real dino?!?" image="air-dinos/archeopteryx.jpg"%}                                            
    </div>

    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="promo 3" desc="BUY now" image="land-dinos/hadrosaur.jpg"%}                                            
    </div>
    
</div>